# Client
client/node_modules
client/.expo
client/.expo-shared
client/.vscode
client/npm-debug.*
client/*.jks
client/*.p8
client/*.p12
client/*.key
client/*.mobileprovision
client/*.orig.*
client/web-build/

# Server
server/node_modules
server/docs
server/.eslintcache
server/.env
server/dist

# Root
node_modules
